<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shirs.agileboot.modules.system.mapper.MenuMapper">

    <select id="menuList" resultType="com.shirs.agileboot.modules.system.entity.MenuVo">
        SELECT
            menu_id menuId,
            menu_name menuName,
            menu_url menuUrl,
            parent_id parentId,
            level,
            menu_status menuStatus
        FROM
            sys_menu
    </select>

</mapper>